USE [master]
GO
/****** Object:  Database [OBS]    Script Date: 8.01.2024 16:25:09 ******/
CREATE DATABASE [OBS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OBS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OBS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OBS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OBS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OBS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OBS]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 8.01.2024 16:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[DersKodu] [nchar](10) NULL,
	[DersAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ders] PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrDetay]    Script Date: 8.01.2024 16:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrDetay](
	[OgrenciID] [int] IDENTITY(1,1) NOT NULL,
	[OgrAdress] [nvarchar](250) NULL,
 CONSTRAINT [PK_OgrDetay] PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 8.01.2024 16:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[OgrenciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[OgrNo] [int] NULL,
	[VeliID] [int] NULL,
 CONSTRAINT [PK_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciDers]    Script Date: 8.01.2024 16:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciDers](
	[OgrenciDersID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NULL,
	[DersID] [int] NULL,
	[VizeNot] [int] NULL,
	[FİnalNot] [int] NULL,
	[HarfNot] [nchar](2) NULL,
 CONSTRAINT [PK_OgrenciDers] PRIMARY KEY CLUSTERED 
(
	[OgrenciDersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veli]    Script Date: 8.01.2024 16:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veli](
	[VeliID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[TCNo] [nchar](11) NULL,
 CONSTRAINT [PK_Veli] PRIMARY KEY CLUSTERED 
(
	[VeliID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ders] ON 

INSERT [dbo].[Ders] ([DersID], [DersKodu], [DersAdi]) VALUES (1, N'BM101     ', N'Matematik')
INSERT [dbo].[Ders] ([DersID], [DersKodu], [DersAdi]) VALUES (2, N'BM102     ', N'Fizik')
INSERT [dbo].[Ders] ([DersID], [DersKodu], [DersAdi]) VALUES (3, N'BM103     ', N'Programlama Giris')
SET IDENTITY_INSERT [dbo].[Ders] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogrenci] ON 

INSERT [dbo].[Ogrenci] ([OgrenciID], [Ad], [Soyad], [OgrNo], [VeliID]) VALUES (7, N'Betül', N'Kara', 123456, NULL)
INSERT [dbo].[Ogrenci] ([OgrenciID], [Ad], [Soyad], [OgrNo], [VeliID]) VALUES (8, N'Ali', N'Veli', 9789, NULL)
SET IDENTITY_INSERT [dbo].[Ogrenci] OFF
GO
SET IDENTITY_INSERT [dbo].[OgrenciDers] ON 

INSERT [dbo].[OgrenciDers] ([OgrenciDersID], [OgrenciID], [DersID], [VizeNot], [FİnalNot], [HarfNot]) VALUES (1, 7, 3, NULL, NULL, NULL)
INSERT [dbo].[OgrenciDers] ([OgrenciDersID], [OgrenciID], [DersID], [VizeNot], [FİnalNot], [HarfNot]) VALUES (2, 8, 1, NULL, NULL, NULL)
INSERT [dbo].[OgrenciDers] ([OgrenciDersID], [OgrenciID], [DersID], [VizeNot], [FİnalNot], [HarfNot]) VALUES (3, 7, 4, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OgrenciDers] OFF
GO
ALTER TABLE [dbo].[OgrDetay]  WITH CHECK ADD  CONSTRAINT [FK_OgrDetay_Ogrenci] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenci] ([OgrenciID])
GO
ALTER TABLE [dbo].[OgrDetay] CHECK CONSTRAINT [FK_OgrDetay_Ogrenci]
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_Ogrenci_Veli] FOREIGN KEY([VeliID])
REFERENCES [dbo].[Veli] ([VeliID])
GO
ALTER TABLE [dbo].[Ogrenci] CHECK CONSTRAINT [FK_Ogrenci_Veli]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDers_Ders] FOREIGN KEY([DersID])
REFERENCES [dbo].[Ders] ([DersID])
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_OgrenciDers_Ders]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDers_Ogrenci] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenci] ([OgrenciID])
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_OgrenciDers_Ogrenci]
GO
USE [master]
GO
